/* Document CSS */

/* formateig */

body, form, table, caption, tr, th, td, ul, ol, li, dl, dt, dd, img, p, header, h1, h2, h3, h4, h5, h6, object, iframe, legend, fieldset { font-size: 1em; list-style: none; margin: 0; padding: 0; outline: none; border: none; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* generic */

@font-face {
	font-family: 'Bariol Regular';
	src: url('../fonts/Bariol_Regular.ttf');
}

body { font: normal 100% 'Bariol Regular', Arial, Helvetica, sans-serif; color: #333; background-color: #eaeaea; }

p { font-size: 1.1em; line-height: 1.2em; }

a { text-decoration: none; padding: 0 .2em; box-shadow: 0 0 .5em #eaeaea;  will-change: color, background-color; }
a:hover,
a:focus { box-shadow: 0 0 .5em #bbb; }

a,
span {
	-webkit-transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
	-moz-transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
	-ms-transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
	-o-transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
	transition: color .2s ease-out, background-color .2s ease-out, box-shadow .2s ease-out;
}

a span { color: #3b8e5d; }
a:hover span,
a:focus span { color: #fff; background-color: #3b8e5d; }


/* continguts */

.imc-contingut { display: block; position: fixed; z-index: 1; top: calc(50% - 10em); left: calc(50% - 20em); width: 40em; height: 20em; font-size: 1.3em; background-color: #eaeaea; }

.imc-contingut h1 { font-weight: normal; text-align: center; margin-bottom: 2em; }
.imc-contingut h1 span { font-size: 1.5em; }

.imc-contingut ul { display: flex; align-items: center; justify-content: center; }
.imc-contingut ul li { width: 33%; margin: 0 .3em; background-color: #fff; }

.imc-contingut ul li a { display: block; position: relative; text-align: center; height: 10em; }
.imc-contingut ul li a.imc--clave { background: transparent url("../imgs/clave.svg") no-repeat 50% 4em / 9em auto; }
.imc-contingut ul li a.imc--ciutada { background: transparent url("../imgs/ciutada.svg") no-repeat 50% 4.2em / 2.5em auto; }
.imc-contingut ul li a.imc--certificat { background: transparent url("../imgs/certificat.png") no-repeat 50% 3.5em / 5em auto; }

.imc-contingut ul li a span { display: block; position: absolute; left: 0; top: 0; width: 100%; padding: .7em 0; }



.imc-contingut ul li div { display: block; position: relative; height: 10em; text-align: center; }
.imc-contingut ul li div > span { display: block; position: absolute; left: 0; top: 0; width: 100%; text-align: center; padding: .7em 0; }

.imc-contingut ul li div > span { color: #3b8e5d; }

.imc-contingut ul li div:hover,
.imc-contingut ul li div:focus { box-shadow: 0 0 .5em #bbb; }

.imc-contingut ul li div:hover > span,
.imc-contingut ul li div:focus > span { color: #fff; background-color: #3b8e5d; }

.imc-contingut ul li div:focus-within > span { color: #fff; background-color: #3b8e5d; }

.imc-contingut ul li div form { padding: 3em 2em 1em 2em; }


/* input */

input { display: inline-block; vertical-align: middle; font: normal .8em 'Bariol Regular', Arial, Helvetica; width: 100%; height: 2.3em; padding: .3rem .7rem .4rem .4rem; background-color: #fff; border: 2px solid #ccc; }

input {
    -webkit-transition: background-color .2s ease-out, border-color .2s ease-out;
    -moz-transition: background-color .2s ease-out, border-color .2s ease-out;
    -ms-transition: background-color .2s ease-out, border-color .2s ease-out;
    -o-transition: background-color .2s ease-out, border-color .2s ease-out;
    transition: background-color .2s ease-out, border-color .2s ease-out;
}

input:hover,
input:focus { position: relative; z-index: 2; background-color: #ffffdd; border-color: #3b8e5d; }

input:focus { box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, .1); }



.imc-contingut ul li div input { margin-bottom: .5em; }


/* botons */

button { display: inline-block; vertical-align: middle; font: normal .8em 'Bariol Regular', Arial, Helvetica; height: 2.3em; color: #fff; text-align: left; padding: .3rem .7rem .4rem .7rem; background-color: #1d663b; border: none; cursor: pointer; will-change: background-color, transform; }

button {
    -webkit-transition: background-color .2s ease-out;
    -moz-transition: background-color .2s ease-out;
    -ms-transition: background-color .2s ease-out;
    -o-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
}

button:focus,
button:hover { background-color: rgba(0, 0, 0, 1); }


button[disabled] { background-color: #ccc !important; cursor: default; }



/* elements hidden */

div[aria-hidden="true"] { visibility: hidden; opacity: 0; }

div[aria-hidden="false"] { visibility: visible; opacity: 1; }



/* missatge */

.imc--missatge { position: fixed; z-index: 10; top: 0; left: 0; width: 100%; height: 100%; font-size: 1em; transition: visibility .2s cubic-bezier(0,.78,.25,1), opacity .2s cubic-bezier(0,.78,.25,1); }

.imc--missatge::before { content: ""; position: fixed; z-index: 11; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,.7); }

.imc--missatge .imc--contingut { position: fixed; z-index: 12; top: 50%; left: 50%; width: 30em; padding: 1.3em 1em 1em 6em; background-color: #fff; transform: translate(-50%, -50%); transition: border-color .2s ease-out; }

.imc--missatge .imc--contingut::before { content: ""; position: absolute; top: 1.5em; left: 1.5em; width: 3em; height: 3em; background: transparent url() no-repeat center center / auto 100%; }

.imc--missatge:focus .imc--contingut { border-color: #000; }

.imc--missatge header { padding: 0 0 .2em 0; font-weight: normal; }
.imc--missatge h2 { font-size: 1em; margin: 0 0 .5em 0; }
.imc--missatge h2 span { font-size: 1.5em; font-weight: normal; }
.imc--missatge p { font-size: .9em; }

/* carregant */

.imc--missatge .imc--contingut::before {
    border: .2em solid transparent;
    border-top-color: #3b8e5d;
    border-bottom-color: #3b8e5d;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.imc--missatge .imc--contingut::before {
    -moz-animation-name: carregant;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: carregant;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -o-animation-name: carregant;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: carregant;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-moz-keyframes carregant {
    0% { -moz-transform: rotate(0deg) }
    100% { -moz-transform: rotate(360deg) }
}
@-webkit-keyframes carregant {
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@-o-keyframes carregant {
    0% { -o-transform: rotate(0deg) }
    100% { -o-transform: rotate(360deg) }
}
@keyframes carregant {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.imc--carregant span { display: inline-block; vertical-align: middle; }



/* Personalizacion cabeceras */
.imc-cabecera{ font-size:1em;	height: 5.5em; }
.imc-cabecera h1{
	display: block;
	position: fixed;
	z-index: 1;
	top: auto;
	left: calc(50% - 30em);
	width: 60em;
	margin: 0;
	text-align: center;
  	padding:.5em;
}
.imc-cabecera h1 img{ vertical-align: middle; height:4.4em}
.imc-cabecera h1 span{ font-weight: normal ;font-size:2.2em}

.imc-txtcc{font-size: 0.8em;padding: 2em; text-align: center;}
.imc-txtcc a span {padding: 0 0.3em 0 0.3em;}


.lib-cabecera h1{
    z-index: 0;
}



.lib-desglose {
	position: relative;
	width: 66% !important;
	margin: auto;
	margin-top: 3em;
    margin-bottom: 3em;
	max-width: 40em;
}

.lib-desglose-list {
	padding: 1em 0.6em;
	border-color: #cecccc;
	border-style: solid;
	width: 66% !important;
	display:flex;
    flex-direction: column;
	justify-content:center;
    align-items: center;
    background-color: #fff;
    margin:auto;
}


.lib-desglose .lib-desglose-list div:hover {
	box-shadow:none;
}



.lib-desglose .lib-desglose-form {
	font-size:.9em;
    min-height: 20em;
    align-content: center;
    width: 66% !important;
}

.lib-desglose .lib-desglose-info {
    align-items: center;
    width:90% !important;
    margin-top:1em;
    margin-bottom:1em;
}


.lib-desglose-info p{
    font-size: .9em;
    text-align: justify;
}

.lib-desglose .lib-desglose-val {
	align-items: center;
    width:90% !important;
    margin-bottom:1em;
	border: 1.5px solid red;
}

.lib-desglose-val #errores {
	font-weight: bold;
    text-align: center;
    margin-bottom: .2em;
}

.lib-desglose-val li, span, p {
	font-size: .9em;
    margin-bottom: .1em;
    padding: 0 .2em;
}

.lib-desglose-form input, label{
    display: block;
    width: 100%;
    max-width: 100%;
}

.lib-desglose-form input{
	margin-top: .4em;
    margin-bottom: .6em;
    border: 1px solid;
}

.lib-desglose-form #nombreCompleto, #nombreCompletoCert, #razonSocial{
	background-color:#c5c5c5;
    margin-bottom:1em;
}

.lib-desglose-form #enviar {
	color: #3b8e5d;
	border: 1px #3b8e5d solid;
    margin-top: 1em;
    background-color: #fff;
    width: 100%;
    text-align:center;
    padding:0;
}

.lib-desglose-form #enviar:hover {
	background-color: #3b8e5d;
	color: #fff;
}

.lib-desglose .lib-desglose-copiar {
	justify-content:center;
	height: 7em;
	text-align: center;
    width: 80% !important;
    font-size: .8em;
}

.lib-desglose-copiar button{
    margin-top: 1.5em;
}

.lib-desglose .lib-desglose-info-cert {
    align-items: center;
    height: .5em;
    margin-top:1em;
}

.lib-desglose-list-cert{
	width:100% !important;
	padding: 1em 0.6em;
	border-color: #cecccc;
	border-style: solid;
	display:flex;
    flex-direction: column;
	justify-content:center;
    align-items: center;
    background-color: #fff;
}

.lib-desglose .lib-desglose-info-cert {
    align-items: center;
    height: 2.5em;
    margin-top:.5em;
    text-align: center;
}

.lib-desglose .lib-desglose-list-cert div:hover {
	box-shadow:none;
}

.lib-desglose-cert{
	width: 80% !important;
	display:grid;
	grid-template-columns:1fr 1fr;

	/*! min-height: none; */
	font-size: .9em;
	gap: 0 .8em;
}
.lib-desglose-cert div{
	height: 3em;
    /*! text-align:center; */
    display: grid;
    grid-template-columns: 5em 1fr;
    gap: .5em;
}

.lib-desglose-cert input{
	background-color: #c5c5c5;
	text-align: center;
}
.lib-desglose-cert .lib-desglose-cert-head{
	font-weight: bold;
}


/* media */

@media only screen and (max-width : 1024px) {
	.imc-cabecera { font-size:0.8em}
	.imc-contingut { font-size: 1em; }
}

@media only screen and (max-width : 670px) {

	.imc-contingut { position: static; padding: 2em 1em 1em 1em; }

	.imc-contingut ul { flex-wrap: wrap; }

	.imc-contingut ul li { width: 100%; margin: .5em 0; background-color: #fff; }

	input,
	button { font-size: 1em; }

	.imc-contingut ul li div { height: 12em; }

	/* missatge */

	.imc--missatge .imc--contingut { position: fixed; z-index: 12; top: 50%; left: 50%; width: 80%; text-align: center; padding: 6em 1em 1em 1em; background-color: #fff; transform: translate(-50%, -50%); transition: border-color .2s ease-out; }

	.imc--missatge .imc--contingut::before { content: ""; position: absolute; top: 1.5em; left: calc(50% - 1.5em); width: 3em; height: 3em; background: transparent url() no-repeat center center / auto 100%; }
    .lib-desglose .lib-desglose-copiar {height: 10em;}
    .lib-desglose .lib-desglose-copiar {height: 10em;}
    .lib-desglose-list{width:100% !important;}
    .lib-desglose-cert{grid-template-columns:1fr}
    .lib-desglose-form input{font-size: .8em;}

}


@media only screen and (max-width : 450px) {
	.imc-cabecera { font-size:0.5em}
	.imc-contingut { width: 100%; font-size: .9em; }

	.imc-contingut ul { gap: 1em 1em; }
	.imc--c .lib-desglose-list .lib-desglose-form { width: 80% !important;}
    .lib-desglose-list-cert{width: 100% !important;}
    .lib-desglose .lib-desglose-copiar {height: 12em;}
    .lib-desglose-cert{grid-template-columns:1fr; text-align:center;}
    .lib-desglose-cert div{grid-template-columns:1fr; height: 3em; gap: 0;}
    .lib-desglose-list{width:100% !important;}
    .lib-cabecera-child span {font-size: .8em;}
    .lib-desglose-form input, button{font-size: .8em;}
}